@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Nunito:wght@400;700;900&display=swap");

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
}

.logo {
  font-size: 30px;
  font-family: "Nunito";
  font-weight: bold;
  color: #0c2431;
}

.navLinks {
  display: flex;
  gap: 30px;
  font-size: 15px;
}

.getJobAlert {
  font-family: "Nunito";
  border: solid;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #e0e0e0;
  color: black;
  cursor: pointer;
  border: none;
}

.postAJob {
  font-family: "Nunito";
  border: solid;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #0c2431;
  color: white;
  cursor: pointer;
  border: none;
}
